<!DOCTYPE html>
<html lang="arabic">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>اضافة شخص جديد</title>
    <!-- <link rel="stylesheet" type="text/css" href="/data2.css">for .ejs -->
    <link rel="stylesheet" type="text/css" href="/data-en.css">
    <!-- //<h3><a href="/data-en.ejs" dir="rtl">Arabic</a></h3>// -->
    <!--for .ejs-->
    <input id="changetoenglish" type="button" onClick="location.href='/data-en'" value='انجليزي'>
    <!--for .ejs-->
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</head>

<body background="/hd1.jpg" background-size="full">
    <h1 dir="rtl"> اضافة شخص جديد</h1>

    <form action="/data-ar" id="data-ar-form" method="POST" enctype="multipart/form-data ">
        </*onsubmit="returen false" */>
        <label style="color:gold">ID</label>
        <input type="text" maxlength="14" name="_id" placeholder="Enter Your ID Number">
        <fieldset id="f1" name="personalInformation" dir="rtl">
            <legend>Basic Information</legend>
            <label>الاسم الاول</label>
            <input type="text" name="PI_firstName" placeholder="Enter Your First Name" title="ادخل الاسم الاول">
            <label>الاسم الثاني</label>
            <input type="text" name="PI_secondName" placeholder="ادحل الاسم الثاني">
            <label>الاسم الثالث</label>
            <input type="text" name="PI_thirdName" placeholder="ادخل الاسم الثالث"><br>
            <label>الاسم الرابع</label>
            <input type="text" name="PI_fourthName" placeholder="ادخل الاسم الرابع">
            <label>الاسم الاخير </label>
            <input type="text" name="PI_lastName" placeholder="ادخل الاسم الاخير">
            <label>اللقب </label>
            <select name="PI_title" placeholder="اللقب">
                <%for(let t of titles){%> 
                <%if (t.male_arabic.length !==0){%>
                <option value=""><%= t.male_arabic%></option>
                <%}%>
                <%}%>
            </select>
            <label>النوع</label>
            <select name="PI_gender" placeholder="Enter Your Gender">
            <option>ذكر </option>
            <option>انثى</option>
            </select>
            <label>الجنسية</label>
            <select name="PI_nationality" placeholder="Enter Your Nationality">
            <%for(let c of countries){%> 
                <%if (c.nationality_arabic.length !==0){%>
                <option value=""><%= c.nationality_arabic%></option>
                <%}%>
                <%}%>
            </select>
            <label>الحالة الاجتماعية</label>
            <select name="PI_maritalStatus" placeholder="Enter Your Marital Status">
            <%for(let ms of maritalstatus){%> 
                <option value=""><%= ms.arabic%></option>
                <%}%>
            </select><br>

        </fieldset>

        <!-- <fieldset name="identity card" dir="rtl">
            <legend>البطاقة الشخصية</legend>
            <label>رقم البطاقة الشخصية</label>
            <input type="text" maxlength="14" name="_id" placeholder="ادخل الرقم القومي">
            <label>جهة الاصدار</label>
            <select name="جهة الاصدار">
                <option></option>
            </select><br>
            <label>تاريخ الاصدار</label>
            <input type="date" name="تاريخ الاصدار ">
            <label>تاريخ الانتهاء</label>
            <input type="date" name="تاريخ الانتهاء"><br>
            <label>الاسم كاملا </label>
            <input type="text " name="الاسم كاملا " placeholder="ادخل الاسم كاملا">
            <label>النوع</label>
            <select>
                <option>ذكر</option>
                <option>انثى</option>
            </select>
            <label>العنوان</label>
            <input type="text " name="العنوان " placeholder="ادخل العنوان"><br>
            <label>الديانة</label>
            <select name="الديانة">
                <option></option>
            </select>
            <label>الحالة الاجتماعية</label>
            <select name="الحالة الاجتماعية">
                <option></option>
            </select>
            <label>الوظيفة</label>
            <input type="text" name="الوظيفة" placeholder="ادخل الوظيفة"><br>
            <label>اسم الزوج</label>
            <input type="text" name="اسم الزوج" placeholder="ادخل اسم الزوج">
            <label>صورة من البطاقة الشخصية</label>
            <input type="file" title="ادخل صورة البطاقة من الامام والخلف">
        </fieldset>

        <fieldset name="الموقف من التجنيد" dir="rtl">
            <legend>الموقف من التجنيد</legend>
            <label>الاسم كاملا</label>
            <input type="text" name="الاسم كاملا" placeholder="ادخل الاسم كاملا">
            <label>تاريخ الميلاد</label>
            <input type="date" name="تاريخ الميلاد"><br>
            <label>رقم البطاقة الشخصية</label>
            <input type="text" name="رقم البطاقة الشخصية" maxlength="14" placeholder="ادخل رقم البطاقة الشخصية">
            <label>جهة الاصدار</label>
            <select name="جهة الاصدار">
                <option></option>
            </select><br>
            <label>رقم بطاقة الخدمة العسكرية (ثلاثي)</label>
            <input type="text" name="رقم بطاقة الخدمة العسكرية (ثلاثي)" placeholder="ادخل رقم بطاقة الخدمة العسكرية (ثلاثي)">
            <label>جهة الاصدار</label>
            <select name="جهة الاصدار">
                <option></option>
            </select><br>
            <label>كود القرار</label>
            <input type="text" name="كود القرار" placeholder="ادخل كود القرار">
            <label>رقم القرار</label>
            <input type="text" name="رقم القرار" placeholder="ادخل رقم القرار">
            <label>تاريخ القرار</label>
            <input type="date" name="تاريخ القرار"><br>
            <label>مضمون القرار</label>
            <input type="text" name="مضمون القرار" placeholder="ادخل مضمون القرار">
            <label>صورة الموقف من التجنيد</label>
            <input type="file">
        </fieldset>

        <fieldset name="الوضع الاسري" dir="rtl">
            <legend>الوضع الاسري</legend>
            <label>عدد افراد الاسرة</label>
            <input type="number" name="عدد افراد الاسرة" placeholder="ادخل عدد افراد الاسرة">
            <label>عدد الاطفال (الذكور)</label>
            <input type="number" name="عدد الاطفال (الذكور)" placeholder="ادخل عدد الاطفال (الذكور)">
            <label>عدد الاطفال (الاناث)</label>
            <input type="number" name="عدد الاطفال (الاناث)" placeholder="ادخل عدد الاطفال (الاناث)">
            <label>عدد الزوجات</label>
            <input type="number" name="عدد الزوجات" placeholder="ادخل عدد الزوجات">
            <label>حالة الوالدين</label>
            <select>
                <option>مطلقين</option>
                <option>متزوجين</option>
                <option>ارمل او ارملة</option>
            </select>
        </fieldset>
        <fieldset name="تفاصيل الميلاد" dir="rtl">
            <legend>تفاصيل الميلاد</legend>
            <label>الاسم كاملا - باللغة الانجليزية</label>
            <input type="text" name="الاسم كاملا - باللغة الانجليزية" placeholder="ادخل الاسم كاملا - باللغة الانجليزية">
            <label>الاسم كاملا - باللغة العربية</label>
            <input type="text" name="الاسم كاملا - باللغة العربية" placeholder="ادخل الاسم كاملا - باللغة العربية"><br>
            <label>الجنسية</label>
            <select name="الجنسية">
                <option></option>
            </select>
            <label>محل الميلاد</label>
            <input type="text" name="محل الميلاد" placeholder="ادخل محل الميلاد">
            <label>الجنسية</label>
            <select name="الجنسية">
                <option></option>
            </select><br>
            <label>تاريخ الميلاد</label>
            <input type="date" name="تاريخ الميلاد ">
            <label>الرقم القومي</label>
            <input type="text" name="الرقم القومي" maxlength="14" placeholder="ادخل الرقم القومي"><br>
            <label>اسم الاب كاملا</label>
            <input type="text" name="اسم الاب كاملا" placeholder="ادخل اسم الاب كاملا">
            <label>ديانة الاب</label>
            <select name="ديانة الاب">
                <option></option>
            </select>
            <label> جنسية الاب</label>
            <select name="جنسية الاب">
                <option></option>
            </select><br>
            <label>اسم الام كاملا</label>
            <input type="text" name="اسم الام كاملا" placeholder="ادخل اسم الام كاملا">
            <label>ديانة الام</label>
            <select name="ديانة الام">
                <option></option>
            </select>
            <label>جنسية الام</label>
            <select name="جنسية الام">
                <option></option>
            </select><br>
            <label>السجل المدني</label>
            <input type="text" name="السجل المدني">
            <label>تاريخ الاصدار</label>
            <input type="date" name="تاريخ الاصدار">
            <label>تاريخ القيد</label>
            <input type="date" name="تاريخ القيد">
            <label>صورة شهادة الميلاد</label>
            <input type="file">
        </fieldset>
        <fieldset name="العنوان" dir="rtl">
            <legend>العنوان</legend>
            <label>نوع العنوان</label>
            <select name="نوع العنوان">
                <option>اختر نوع العنوان</option>
                <option>ملكية</option>
                <option>تأجير</option>
                <option>مشاركة</option>
                <option>مقيم مع العائلة</option>
                <option>مقيم مع الاصدقاء</option>
            </select>
            <label>تاريخ انتهاء الايجار</label>
            <input type="date" name="تاريخ انتهاء الايجار">
            <label>البلد</label>
            <select name="البلد">
                <option></option>
            </select>
            <label>المدينة</label>
            <select name="المدينة">
                <option></option>
            </select>
            <label>المنطقة</label>
            <input type="text" name="المنطقة" placeholder="ادخل المنطقة">
            <label>نوع العقار</label>
            <select name="نوع العقار">
                <option></option>
            </select>
            <label>رقم العقار</label>
            <input type="text" name="رقم العقار" maxlength="4" placeholder="ادخل رقم العقار">
            <label>رقم الدور</label>
            <input type="number" name="رقم الدور" placeholder="ادخل رقم الدور">
            <label>رقم الشقة</label>
            <input type="text" name="رقم الشقة" placeholder="ادخل رقم الشقة">
            <label>اسم الشارع</label>
            <input type="text" name="اسم الشارع" placeholder="ادخل اسم الشارع">
            <label>العنوان مفصلا</label>
            <textarea maxlength="160" placeholder="ادخل العنوان مفصلا, مثال:555 شارع طيبة, الابراهيمية, الاسكندرية, مصر"></textarea>
        </fieldset>
        <fieldset name="المعلومات القانونية" dir="rtl">
            <legend>المعلومات القانونية</legend>
            <fieldset name="رخصة القيادة">
                <legend>رخصة القيادة</legend>
                <label>وحدة المرور</label>
                <input type="text" name="وحدة المرور" placeholder="ادخل وحدة المرور">
                <label>الرقم القومي</label>
                <input type="text" name="الرقم القومي" maxlength="14" placeholder="ادخل الرقم القومي"><br>
                <label>العنوان</label>
                <input type="text" name="العنوان" placeholder="ادخل العنوان">
                <label>الجنسية</label>
                <select name="الجنسية">
                    <option></option>
                </select><br>
                <label>تاريخ التحرير</label>
                <input type="date" name="تاريخ التحرير">
                <label>تاريخ انتهاء الرخصة</label>
                <input type="date" name="تاريخ انتهاء الرخصة"><br>
                <label>الوظيفة</label>
                <input type="text" name="الوظيفة" placeholder="ادخل الوظيفة">
                <label>نوع رخصة القيادة</label>
                <input type="text" name="نوع رخصة القيادة" placeholder="ادخل نوع رخصة القيادة"><br>
                <label>رقم رخصة القيادة</label>
                <input type="text" name="رقم رخصة القيادة" placeholder="ادخل رقم رخصة القيادة">
                <label>نوع المركبة</label>
                <input type="text" name="نوع المركبة" placeholder="ادخل نوع المركبة"><br>
                <label>ترتدي نظارات؟</label>
                <select name="ترتدي نظارات؟">
                    <option>نعم</option>
                    <option>لا</option>
                </select>
                <label>صورة رخصة القيادة</label>
                <input type="file">
            </fieldset>
            <fieldset name="رخصة القيادة الدولية">
                <legend>رخصة القيادة الدولية</legend>
                <label>الاسم</label>
                <input type="text" name="الاسم" placeholder="ادخل الاسم">
                <label>العنوان</label>
                <input type="text" name="العنوان" placeholder="ادخل العنوان"><br>
                <label>محل الميلاد</label>
                <input type="text" name="محل الميلاد" placeholder="ادخل محل الميلاد">
                <label>تاريخ الميلاد</label>
                <input type="date" name="تاريخ الميلاد"><br>
                <label>الطول</label>
                <input type="text" name="الطول" placeholder="ادخل الطول">
                <label>النوع</label>
                <select name="النوع">
                    <option>اختر النوع</option>
                    <option>ذكر</option>
                    <option>انثى</option>
                </select><br>
                <label>لون العين</label>
                <select name="لون العين">
                    <option></option>
                </select>
                <label>فصيلة الدم</label>
                <select name="فصيلة الدم">
                    <option></option>
                </select><br>
                <label>رقم جواز السفر</label>
                <input type="text" name="رقم جواز السفر" placeholder="ادخل رقم جواز السفر"><br>
                <label>الفئة</label>
                <input type="text" name="الفئة" placeholder="ادخل الفئة">
                <label>نوع الرخصة</label>
                <input type="text" name="نوع الرخصة" placeholder="ادخل نوع الرخصة"><br>
                <label>تاريخ الاصدار</label>
                <input type="date" name="تاريخ الاصدار">
                <label>تاريخ الانتهاء</label>
                <input type="date" name="تاريخ الانتهاء"><br>
                <label>التصنيف</label>
                <input type="text" name="التصنيف" placeholder="ادخل التصنيف">
                <label>صورة رخصة القيادة الدولية</label>
                <input type="file">
            </fieldset>
            <fieldset name="جواز السفر">
                <legend>جواز السفر</legend>
                <label>رقم جواز السفر</label>
                <input type="text" name="رقم جواز السفر" placeholder="ادخل رقم جواز السفر">
                <label>الموقف من التجنيد</label>
                <select name="الموقف من التجنيد" placeholder="ادخل الموقف من التجنيد">
                    <option></option>
                </select><br>
                <label>نوع جواز السفر</label>
                <input type="text" name="نوع جواز السفر" placeholder="ادخل نوع جواز السفر">
                <label>دولة جواز السفر</label>
                <select name="دولة جواز السفر" placeholder="ادخل دولة جواز السفر">
                    <option></option>
                </select><br>
                <label>جهة الاصدار</label>
                <input type="text" name="جهة الاصدار" placeholder="ادخل جهة الاصدار">
                <label>تاريخ الاصدار</label>
                <input type="date" name="تاريخ الاصدار"><br>
                <label>تاريخ الانتهاء</label>
                <input type="date" name="تاريخ الانتهاء">
                <label>الوظيفة/المهنة</label>
                <input type="text" name="الوظيفة/المهنة" placeholder="ادخل الوظيفة/المهنة"><br>
                <label>جهة اصدار جواز السفر</label>
                <input type="text" name="جهة اصدار جواز السفر" placeholder="ادخل جهة اصدار جواز السفر">
                <label>صورة جواز السفر</label>
                <input type="file" title="ادخل صورة من جواز السفر موضحا بها كافة المعلومات ">
            </fieldset>
            <fieldset name="التأشيرة">
                <legend>التأشيرة</legend>
                <label>نوع التأشيرة</label>
                <select name="نوع التأشيرة">
                    <option></option>
                </select>
                <label>صالحة لـ</label>
                <input type="text" name="صالحة لـ" title="ادخل مدة سريان التأشيرة"><br>
                <label>مدة صلاحيتها</label>
                <label>من</label>
                <input type="date">
                <label>حتي</label>
                <input type="date">


            </fieldset>
        </fieldset>-->
        <input type="submit" id="submitDetails" name="submitDetails" value="حفظ" /><br>
    </form>
    <script>
        document.getElementById('data-ar-form').querySelectorAll('input').forEach(input => {
            input.addEventListener('blur', function() {

                fetch('/data-ar/draft', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        field: input.parentNode.getAttribute('name') + '.' + input.getAttribute('name'),
                        value: input.value
                    })
                })
            })
        })
    </script>
</body>


</html>