<%- include('parts/header.ejs')%>
    <%- include('parts/navbar.ejs')%>

        <div class="container">
            <p style="margin:14.5%;font-size:120px;color:rgba(73, 81, 88, 0.849);font-weight:bold">Welcome ^_^ </p>

        </div>


        <%- include('parts/footer.ejs')%>