<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entry data</title>
    <!-- <link rel="stylesheet" type="text/css" href="/data1css">for ejs -->
    <link rel="stylesheet" type="text/css" href="/data-en.css">
    <!-- //<h3><a href="/data-arejs" dir="rtl">Arabic</a></h3>// -->
    <!--for ejs-->
    <input id="changetoarabic" type="button" onClick="locationhref='/data-ar'" value='Arabic'>
    
    <!--for ejs-->
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</head>

<body style="backgtoun-img : " >
    <h1> ADD New Person</h1>


    <form action="/data-en" id="personalInf-form" method="POST" enctype="multipart/form-data " > </*onsubmit="returen false"*/>
        <label style="color:gold">ID</label>
        <input type="text" maxlength="14" name="_id" placeholder="Enter Your ID Number">
        <fieldset id="f1"  name="personalInformation" dir="auto">
            <legend>Personal Information</legend>
            <label>First Name</label>
            <input type="text" name="PI_firstName" placeholder="Enter Your First Name" title="enter your first name only without any spaces">
            <label>Second Name</label>
            <input type="text" name="PI_secondName" placeholder="Enter Your Second Name">
            <label>Third Name</label>
            <input type="text" name="PI_thirdName" placeholder="Enter Your Third Name"><br>
            <label>Fourth Name</label>
            <input type="text" name="PI_fourthName" placeholder="Enter Your Fourth Name">
            <label>Last Name </label>
            <input type="text" name="PI_lastName" placeholder="Enter Your Last Name">
             <label>Title </label>
            <select name="PI_title" placeholder="Enter Your Title" >
                <%for(let t of titles){%> 
                <%if (t.male_english.length !==0){%>
                <option value=""><%= t.male_english%></option>
                <%}%>
                <%}%>
            </select>
            <label>Gender</label>
            <select name="PI_gender" placeholder="Enter Your Gender">
            <option>Male</option>
            <option>Female</option>
            </select>
            <label>Nationality</label>
            <select name="PI_nationality" placeholder="Enter Your Nationality">
            <%for(let c of countries){%> 
                <%if (c.nationality_english.length !==0){%>
                <option value=""><%= c.nationality_english%></option>
                <%}%>
                <%}%>
            </select>
            <label>Marital status</label>
            <select name="PI_maritalStatus" placeholder="Enter Your Marital Status">
            <%for(let ms of maritalstatus){%> 
                <option value=""><%= ms.english%></option>
                <%}%>
            </select><br>

        </fieldset>
        <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>
    </form>

        <script>
        document.getElementById('personalInf-form').querySelectorAll('input').forEach(input => {
    input.addEventListener('blur', function() {

        fetch('/personalInf/draft', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                field: input.parentNode.getAttribute('name') + '.' + input.getAttribute('name'),
                value: input.value
            })
        })
    })
})
    
    </script>
</body>


</html>