<%- include('../../parts/header.ejs')%>
<%- include('../../parts/navbar.ejs')%>
<form action="/accounts/invoices/pushtransactions"  method="POST" enctype="multipart/form-data " > </*onsubmit="returen false"*/>
<h1></h1>
<label>document Number</label>
    <input type='text' name='documentNumber'>
    <table name="assets">
    <h3>assets</h3>
    <tr >
        <th style="width:6%">assetID</th>
        <th style="width:6%">assetName</th>
        <th style="width:6%">serialNumber</th>
        <th style="width:6%">quantity</th>
        <th style="width:6%">uintOfMeasurment</th>
        <th style="width:6%">price</th>
        <th style="width:6%">from</th>
        <th style="width:6%">to</th>
    </tr>
    <tr>
    <th><input type="text" name="assetID"></th>
    <th><input type="text" name="assetName"></th>
    <th><input type="text" name="assetsSerialNumber">
    <input type="text" name="assetsSerialNumber">
    <input type="text" name="assetsSerialNumber">
    <input type="text" name="assetsSerialNumber"></th>
    <th><input type="number" name="assetsQuantity"></th>
    <th><input type="text" name="assetsUintOfMeasurment"></th>
    <th><input type="number" name="assetsPrice"></th>
    <th><input type="text" name="assetsFrom"></th>
    <th><input type="text" name="assetsTo"></th>
    </tr> 
    </table>
    <table name="items">
    <h3>items</h3>
    <tr >
        <th style="width:6%">itemID</th>
        <th style="width:6%">itemName</th>
        <th style="width:6%">serialNumber</th>
        <th style="width:6%">quantity</th>
        <th style="width:6%">uintOfMeasurment</th>
        <th style="width:6%">price</th>
        <th style="width:6%">packageID</th>
        <th style="width:6%">packageName</th>
        <th style="width:6%">from</th>
        <th style="width:6%">to</th>
    </tr>
    <tr>
    <th><input type="text" name="itemID"></th>
    <th><input type="text" name="itemName"></th>
    <th><input type="text" name="itemsSerialNumber">
    <input type="text" name="itemsSerialNumber">
    <input type="text" name="itemsSerialNumber">
    <input type="text" name="itemsSerialNumber"></th>
    <th><input type="number" name="itemsQuantity"></th>
    <th><input type="text" name="itemsUintOfMeasurment"></th>
    <th><input type="number" name="itemsPrice"></th>
    <th><input type="text" name="itemsPackageID"></th>
    <th><input type="text" name="itemsPackageName"></th>
    <th><input type="text" name="itemsFrom"></th>
    <th><input type="text" name="itemsTo"></th>
    </tr> 
    </table>
    <table name="services">
    <h3>services</h3>
    <tr >
        <th style="width:6%">serviceID</th>
        <th style="width:6%">serviceName</th>
        <th style="width:6%">servicesUintOfMeasurment</th>
        <th style="width:6%">servicesQuantity</th>
        <th style="width:6%">servicesPrice</th>
        <th style="width:6%">servicesStart</th>
        <th style="width:6%">servicesEnd</th>
        <th style="width:6%">servicesPackage</th>
        <th style="width:6%">servicesFrom</th>
        <th style="width:6%">servicesTo</th>
    </tr>
    <tr>
    <th><input type="text" name="serviceID"></th>
    <th><input type="text" name="serviceName"></th>
    <th><input type="text" name="servicesUintOfMeasurment"></th>
    <th><input type="number" name="servicesQuantity"></th>
    <th><input type="number" name="servicesPrice"></th>
    <th><input type="text" name="servicesStart"></th>
    <th><input type="date" name="servicesEnd"></th>
    <th><input type="date" name="servicesPackage"></th>
    <th><input type="text" name="servicesFrom"></th>
    <th><input type="text" name="servicesTo"></th>
    </tr> 
    </table>
    <table name="jobs">
    <h3>jobs</h3>
    <tr >
        <th style="width:6%">jobID</th>
        <th style="width:6%">jobName</th>
        <th style="width:6%">jobsUintOfMeasurment</th>
        <th style="width:6%">jobsQuantity</th>
        <th style="width:6%">jobsPrice</th>
    </tr>
    <tr>
    <th><input type="text" name="jobID"></th>
    <th><input type="text" name="jobName"></th>
    <th><input type="text" name="jobsUintOfMeasurment"></th>
    <th><input type="number" name="jobsQuantity"></th>
    <th><input type="number" name="jobsPrice"></th>
    </tr> 
    </table>
    <table name="fees">
    <h3>fees</h3>
    <tr >
        <th style="width:6%">feeID</th>
        <th style="width:6%">feeName</th>
        <th style="width:6%">feesUintOfMeasurment</th>
        <th style="width:6%">feesQuantity</th>
        <th style="width:6%">feesPrice</th>
    </tr>
    <tr>
    <th><input type="text" name="feeID"></th>
    <th><input type="text" name="feeName"></th>
    <th><input type="text" name="feesUintOfMeasurment"></th>
    <th><input type="number" name="feesQuantity"></th>
    <th><input type="number" name="feesPrice"></th>
    </tr> 
    </table>
    <table name="fines">
    <h3>fines</h3>
    <tr >
        <th style="width:6%">fineID</th>
        <th style="width:6%">fineName</th>
        <th style="width:6%">finesValue</th>
    </tr>
    <tr>
    <th><input type="text" name="fineID"></th>
    <th><input type="text" name="fineName"></th>
    <th><input type="number" name="finesValue"></th>
    </tr> 
    </table>
    <table name="interestAndProfits">
    <h3>interestAndProfits</h3>
    <tr >
        <th style="width:6%">interestAndProfitsID</th>
        <th style="width:6%">interestAndProfitsName</th>
        <th style="width:6%">interestAndProfitsValue</th>
    </tr>
    <tr>
    <th><input type="text" name="interestAndProfitsID"></th>
    <th><input type="text" name="interestAndProfitsName"></th>
    <th><input type="number" name="interestAndProfitsValue"></th>
    </tr> 
    </table>
    <table name="taxes">
    <h3>taxes</h3>
    <tr >
        <th style="width:6%">taxID</th>
        <th style="width:6%">taxName</th>
        <th style="width:6%">taxType</th>
        <th style="width:6%">taxesRatioOrFixedValue</th>
        <th style="width:6%">taxesValue</th>
    </tr>
    <tr>
    <th><input type="text" name="taxID"></th>
    <th><input type="text" name="taxName"></th>
    <th><input type="text" name="taxType"></th>
    <th><input type="number" name="taxesRatioOrFixedValue"></th>
    <th><input type="number" name="taxesValue"></th>
    </tr> 
    </table>
    <table name="customs">
    <h3>customs</h3>
    <tr >
        <th style="width:6%">customID</th>
        <th style="width:6%">customName</th>
        <th style="width:6%">customType</th>
        <th style="width:6%">customsRatioOrFixedValue</th>
        <th style="width:6%">customsValue</th>
    </tr>
    <tr>
    <th><input type="text" name="customID"></th>
    <th><input type="text" name="customName"></th>
    <th><input type="text" name="customType"></th>
    <th><input type="text" name="customsRatioOrFixedValue"></th>
    <th><input type="number" name="customsValue"></th>
    </tr> 
    </table>
    <table name="currency">
    <h3>currency</h3>
    <tr >
        <th style="width:6%">currencySource</th>
        <th style="width:6%">currencyDestination</th>
        <th style="width:6%">currencyRate</th>
        <th style="width:6%">currencyAmount</th>  
    </tr>
    <tr>
    <th><input type="text" name="currencySource"></th>
    <th><input type="text" name="currencyDestination"></th>
    <th><input type="text" name="currencyRate"></th>
    <th><input type="text" name="currencyAmount"></th>
    </tr> 
    </table>
    <table name="cash">
    <h3>cash</h3>
    <tr >
        <th style="width:6%">cashValue</th>
        <th style="width:6%">cashCurrency</th>
        <th style="width:6%">cashDetailed</th>
        <th style="width:6%">cashPapers</th>
        <th style="width:6%">cashFrom</th>
        <th style="width:6%">cashTo</th>
    </tr>
    <tr>
    <th><input type="number" name="cashValue"></th>
    <th><input type="text" name="cashCurrency"></th>
    <th><input type="text" name="cashDetailed"></th>
    <th><input type="text" name="cashPapers"></th>
    <th><input type="text" name="cashFrom"></th>
    <th><input type="text" name="cashTo"></th>
    </tr> 
    </table>
    <table name="accounts">
    <h3>accounts</h3>
    <tr >
        <th style="width:6%">accountNumber</th>
        <th style="width:6%">accountName</th>
        <th style="width:6%">accountDebit</th>
        <th style="width:6%">accountCredit</th>
        <th style="width:6%">accountCurrency</th>
        <th style="width:6%">accountNotes</th>
    </tr>
    <tr>
    <th><input type="text" name="accountNumber"></th>
    <th><input type="text" name="accountName"></th>
    <th><input type="number" name="accountDebit"></th>
    <th><input type="number" name="accountCredit"></th>
    <th><input type="text" name="accountCurrency"></th>
    <th><input type="text" name="accountNotes"></th>
    </tr> 
    </table>
    <table name="checks">
    <h3>checks</h3>
    <tr >
        <th style="width:6%">checkOwner</th>
        <th style="width:6%">checkBankName</th>
        <th style="width:6%">checkPayee</th>
        <th style="width:6%">checkDate</th>
        <th style="width:6%">checkAmount</th>
        <th style="width:6%">checkCurrency</th>
        <th style="width:6%">checkNumber</th>
        <th style="width:6%">checkDueDate</th>
        <th style="width:6%">checkType</th>
        <th style="width:6%">checkCopy</th>
    </tr>
 
    </table>
    <table name="hr">
    <h3>hr</h3>
    <tr >
        <th style="width:6%">hrEmployeeCode</th>
        <th style="width:6%">hrBaseSalary</th>
        <th style="width:6%">hrGroupedSpecialBonus</th>
        <th style="width:6%">hrPreviousYearBonus</th>
        <th style="width:6%">hrExceptionalExpensiveLivingBonus</th>
        <th style="width:6%">hrWorkNatureAllowance</th>
        <th style="width:6%">hrLaborHolidayBonus</th>
        <th style="width:6%">hrFoodAllowance</th>
        <th style="width:6%">hrSocialBonus</th>
        <th style="width:6%">hrInsurance</th>
        <th style="width:6%">hrStamp</th>
        <th style="width:6%">hrWorkGainTax</th>
        <th style="width:6%">hrSyndicate</th>
    </tr>
    <tr>
    <th><input type="text" name="hrEmployeeCode"></th>
    <th><input type="text" name="hrBaseSalary"></th>
    <th><input type="text" name="hrGroupedSpecialBonus"></th>
    <th><input type="number" name="hrPreviousYearBonus"></th>
    <th><input type="number" name="hrExceptionalExpensiveLivingBonus"></th>
    <th><input type="text" name="hrWorkNatureAllowance"></th>
    <th><input type="date" name="hrLaborHolidayBonus"></th>
    <th><input type="date" name="hrFoodAllowance"></th>
    <th><input type="text" name="hrSocialBonus"></th>
    <th><input type="text" name="hrInsurance"></th>
    <th><input type="text" name="hrStamp"></th>
    <th><input type="text" name="hrWorkGainTax"></th>
    <th><input type="text" name="hrSyndicate"></th>
    </tr> 
    </table>
<input type="submit" id="submitDetails" name="submitDetails" value="UPDATE" /><br>

</form>

<%- include('../../parts/footer.ejs')%>