<%- include('../parts/header.ejs')%>
    <%- include('../parts/navbar.ejs')%>
        <form action="/accounts/addCompany" method="POST" enctype="multipart/form-data ">
            </*onsubmit="returen false" */>
            <h1></h1>
            <h1> Add New Company</h1>

            <fieldset>
                <legend name="companyInformation">companyInformation</legend>
                <label>nameInArabic</label>
                <input type="text" name="nameInArabic">
                <label>nameInEnglish</label>
                <input type="text" name="nameInEnglish">
                <label>namePronunciation</label>
                <input type="text" name="namePronunciation">
                <label>descreption</label>
                <input type="text" name="descreption">
                <label>allies</label>
                <input type="text" name="allies">
                <label>parentCompany</label>
                <input type="text" name="parentCompany">
                <label>legalForm</label>
                <input type="text" name="legalForm">
                <label>legalInformation</label>
                <input type="text" name="legalInformation">
                <label>startDate</label>
                <input type="text" name="startDate">
                <label>cityInCorporated</label>
                <input type="text" name="cityInCorporated">
                <label>ultimateParentName</label>
                <input type="text" name="ultimateParentName">
                <label>companyNationality</label>
                <input type="text" name="companyNationality">
            </fieldset>
            <fieldset>
                <legend name="addressDetails">addressDetails</legend>
                <label>addressType</label>
                <input type="text" name="addressType">
                <label>country</label>
                <input type="text" name="country">
                <label>city</label>
                <input type="text" name="city">
                <label>streetName</label>
                <input type="text" name="streetName">
                <label>area</label>
                <input type="text" name="area">
                <label>realStateType</label>
                <input type="text" name="realStateType">
                <label>realStateNumber</label>
                <input type="text" name="realStateNumber">
                <label>floorNumber</label>
                <input type="text" name="floorNumber">
                <label>apartmentNumber</label>
                <input type="text" name="apartmentNumber">
                <label>detailedAddress</label>
                <input type="text" name="detailedAddress">
                <label>coordinates</label>
                <input type="text" name="coordinates">
            </fieldset>
            <fieldset>
                <legend name="contactInformation">contactInformation</legend>
                <label>countryCode</label>
                <input type="text" name="countryCode">
                <label>governorateCode</label>
                <input type="text" name="governorateCode">
                <label>landLine</label>
                <input type="text" name="landLine">
                <label>faxNumber</label>
                <input type="text" name="faxNumber">
                <label>email</label>
                <input type="text" name="email">
                <label>logoURL</label>
                <input type="text" name="logoURL">
                <label>website</label>
                <input type="text" name="website">
                <label>mobileNumber</label>
                <input type="text" name="mobileNumber">
                <label>contactLanguage</label>
                <input type="text" name="contactLanguage">
                <label>postOfficeCode</label>
                <input type="text" name="postOfficeCode">
            </fieldset>
            <fieldset>
                <legend name="accounts">accounts</legend>
                <label>balance</label>
                <input type="text" name="balance">
                <label>ARbalance</label>
                <input type="text" name="ARbalance">
                <label>paymentTerm</label>
                <input type="text" name="paymentTerm">
                <label>accountNumber</label>
                <input type="text" name="accountNumber">
                <label>creditLimit</label>
                <input type="text" name="creditLimit">
                <label>invoiceToParent</label>
                <input type="text" name="invoiceToParent">
                <label>salesOrderToParent</label>
                <input type="text" name="salesOrderToParent">
                <label>openItem</label>
                <input type="text" name="openItem">
                <label>stopCredit</label>
                <input type="text" name="stopCredit">
                <label>primaryGroup</label>
                <input type="text" name="primaryGroup">
                <label>secondryGroup</label>
                <input type="text" name="secondryGroup">
                <label>defaultCurrency</label>
                <input type="text" name="defaultCurrency">
                <label>strategy</label>
                <input type="text" name="strategy">
            </fieldset>
            <fieldset>
                <legend name="bankAccount">bankAccount</legend>
                <label>accountType</label>
                <input type="text" name="accountType">
                <label>accountNumber</label>
                <input type="text" name="accountNumber">
                <label>bankName</label>
                <input type="text" name="bankName">
                <label>currency</label>
                <input type="text" name="currency">
                <label>branch</label>
                <input type="text" name="branch">
            </fieldset>
            <fieldset>
                <legend name="activityBusiness">activityBusiness</legend>
                <label>category</label>
                <input type="text" name="category">
                <label>subcategory</label>
                <input type="text" name="subcategory">
            </fieldset>
            <fieldset>
                <legend name="taxCard">taxCard</legend>
                <label>name</label>
                <input type="text" name="name">
                <label>address</label>
                <input type="text" name="address">
                <label>UnderlyingOffice</label>
                <input type="text" name="UnderlyingOffice">
                <label>typeOfCompany</label>
                <input type="text" name="typeOfCompany">
                <label>companyActivity</label>
                <input type="text" name="companyActivity">
            </fieldset>
            <fieldset>
                <legend name="commercialRegister">commercialRegister</legend>
                <label>nationalNumberForCompany</label>
                <input type="text" name="nationalNumberForCompany">
                <label>commercialRgisterNumber</label>
                <input type="text" name="commercialRgisterNumber">
                <label>depositNumber</label>
                <input type="text" name="depositNumber">
                <label>depositDate</label>
                <input type="text" name="depositDate">
                <label>registrationNumberInCommercialRegister</label>
                <input type="text" name="registrationNumberInCommercialRegister">
                <label>depositNumberOfRenewalNumber</label>
                <input type="text" name="depositNumberOfRenewalNumber">
                <label>depositDateOf</label>
                <input type="text" name="depositDateOf">
                <label>renewalDate</label>
                <input type="text" name="renewalDate">
                <label>commercialName</label>
                <input type="text" name="commercialName">
                <label>CommercialDenomination</label>
                <input type="text" name="CommercialDenomination">
                <label>nameProceedHisTrade</label>
                <input type="text" name="nameProceedHisTrade">
                <label>legalForm</label>
                <input type="text" name="legalForm">
                <label>addressOfCompanyOrCooperativeSociety</label>
                <input type="text" name="addressOfCompanyOrCooperativeSociety">
                <label>commercialAttribute</label>
                <input type="text" name="commercialAttribute">
                <label>CommercialDenominationForBranch</label>
                <input type="text" name="CommercialDenominationForBranch">
                <fieldset>
                    <legend name="nameOfMerchantHisNickNameDateAndPalceOfHisBirthAndHisNationality">nameOfMerchantHisNickNameDateAndPalceOfHisBirthAndHisNationality</legend>
                    <label>merchantName</label>
                    <input type="text" name="merchantName">
                    <label>merchantNickName</label>
                    <input type="text" name="merchantNickName">
                    <label>dateOfBirth</label>
                    <input type="text" name="dateOfBirth">
                    <label>placeOfBirth</label>
                    <input type="text" name="placeOfBirth">
                    <label>nationality</label>
                    <input type="text" name="nationality">
                </fieldset>
                <fieldset>
                    <legend name="namesNickNamesOfJointlyResponsibleInGeneralPartnershipOrLimitedPartnershipBirthDateAndPlaceAndTheirNationality">namesNickNamesOfJointlyResponsibleInGeneralPartnershipOrLimitedPartnershipBirthDateAndPlaceAndTheirNationality</legend>
                    <label>partnerName</label>
                    <input type="text" name="partnerName">
                    <label>partnerNickName</label>
                    <input type="text" name="partnerNickName">
                    <label>dateOfBirth</label>
                    <input type="text" name="dateOfBirth">
                    <label>placeOfBirth</label>
                    <input type="text" name="placeOfBirth">
                    <label>nationality</label>
                    <input type="text" name="nationality">
                </fieldset>
                <fieldset>
                    <legend name="namesNickNamesOfPartnersOrWhoResponsibleOfManageCompanyAbdWhoHaveRightInSignWithTheirNamesTheirAttributeBirthDateAndPlaceTheirNationalityAndTheirPowerInSdministrationAndSigning">namesNickNamesOfPartnersOrWhoResponsibleOfManageCompanyAbdWhoHaveRightInSignWithTheirNamesTheirAttributeBirthDateAndPlaceTheirNationalityAndTheirPowerInSdministrationAndSigning</legend>
                    <label>name</label>
                    <input type="text" name="name">
                    <label>nickName</label>
                    <input type="text" name="nickName">
                    <label>attribute</label>
                    <input type="text" name="attribute">
                    <label>dateOfBirth</label>
                    <input type="text" name="dateOfBirth">
                    <label>placeOfBirth</label>
                    <input type="text" name="placeOfBirth">
                    <label>nationality</label>
                    <input type="text" name="nationality">
                    <label>hisPowerScopeInAdministrationAndSignature</label>
                    <input type="text" name="hisPowerScopeInAdministrationAndSignature">
                </fieldset>
                <fieldset>
                    <legend name="namesNickNamesOfDirectorsBordInJointStockCompanyOrCoopretativeSocietyTheirAgentsTheirAttributeBirthDateAndPlaceTheirNationalityAndTheirPowerOnAdministerationAndSigning">namesNickNamesOfDirectorsBordInJointStockCompanyOrCoopretativeSocietyTheirAgentsTheirAttributeBirthDateAndPlaceTheirNationalityAndTheirPowerOnAdministerationAndSigning</legend>
                    <label>directorName</label>
                    <input type="text" name="directorName">
                    <label>dateOfBirth</label>
                    <input type="text" name="dateOfBirth">
                    <label>placeOfBirth</label>
                    <input type="text" name="placeOfBirth">
                    <label>nationality</label>
                    <input type="text" name="nationality">
                    <label>powerScopeInAdministration</label>
                    <input type="text" name="powerScopeInAdministration">
                    <label>hisAgents</label>
                    <input type="text" name="hisAgents">
                </fieldset>
                <fieldset>
                    <legend name="nameNickNameOfHeadOfficeDirectorOrGeneralAgentInEgyptBirthDateAndPlaceAndHisNationalityIfGeneralCenterOfCompanyWasOutside">nameNickNameOfHeadOfficeDirectorOrGeneralAgentInEgyptBirthDateAndPlaceAndHisNationalityIfGeneralCenterOfCompanyWasOutside</legend>
                    <label>managerOfHeadOfficeName</label>
                    <input type="text" name="managerOfHeadOfficeName">
                    <label>hisNickName</label>
                    <input type="text" name="hisNickName">
                    <label>dateOfBirth</label>
                    <input type="text" name="dateOfBirth">
                    <label>placeOfBirth</label>
                    <input type="text" name="placeOfBirth">
                    <label>nationality</label>
                    <input type="text" name="nationality">
                    <label>typeOfTrade</label>
                    <input type="text" name="typeOfTrade">
                    <label>purposeOfEstablishingCompanyOrCooperativeSociety</label>
                    <input type="text" name="purposeOfEstablishingCompanyOrCooperativeSociety">
                    <label>whenMerchantBeganHisWorksInEgypt</label>
                    <input type="text" name="whenMerchantBeganHisWorksInEgypt">
                    <label>dateOfEngagementBusinessLicence</label>
                    <input type="text" name="dateOfEngagementBusinessLicence">
                    <label>startDateOfCompany</label>
                    <input type="text" name="startDateOfCompany">
                    <label>sendDateOfCompany</label>
                    <input type="text" name="sendDateOfCompany">
                    <label>openingDateOfAgentOrBranch</label>
                    <input type="text" name="openingDateOfAgentOrBranch">
                    <label>addressOfHeadOffice</label>
                    <input type="text" name="addressOfHeadOffice">
                    <label>addressOfGeneralCenterForCompanyOrCooperativeSociety</label>
                    <input type="text" name="addressOfGeneralCenterForCompanyOrCooperativeSociety">
                    <label>recordNumberOfMainShopOrGeneralCenter</label>
                    <input type="text" name="recordNumberOfMainShopOrGeneralCenter">
                    <label>addressesOfBranchesOrAgentsSubsetToMainShopOrGeneralCenter</label>
                    <input type="text" name="addressesOfBranchesOrAgentsSubsetToMainShopOrGeneralCenter">
                    <label>addressOfBrachOrAgent</label>
                    <input type="text" name="addressOfBrachOrAgent">
                    <label>uploadCopy</label>
                    <input type="text" name="uploadCopy">
                </fieldset>
            </fieldset>
            <fieldset>
                <legend name="recordCardInImporterRegister">recordCardInImporterRegister</legend>
                <label>recordNumber</label>
                <input type="text" name="recordNumber">
                <label>valiedFrom</label>
                <input type="text" name="valiedFrom">
                <label>valiedUntil</label>
                <input type="text" name="valiedUntil">
                <label>tradeName</label>
                <input type="text" name="tradeName">
                <label>CommercialDenomination</label>
                <input type="text" name="CommercialDenomination">
                <label>type</label>
                <input type="text" name="type">
                <label>capital</label>
                <input type="text" name="capital">
                <label>addressOfBusiness</label>
                <input type="text" name="addressOfBusiness">
                <label>governorate</label>
                <input type="text" name="governorate">
                <label>dateOfRecord</label>
                <input type="text" name="dateOfRecord">
                <label>uploadCopy</label>
                <input type="text" name="uploadCopy">
            </fieldset>
            <fieldset>
                <legend name="recordInExporterRegister">recordInExporterRegister</legend>
                <label>valiedFrom</label>
                <input type="text" name="valiedFrom">
                <label>valiedUntile</label>
                <input type="text" name="valiedUntile">
                <label>tradeName</label>
                <input type="text" name="tradeName">
                <label>CommercialDenomination</label>
                <input type="text" name="CommercialDenomination">
                <label>legalForm</label>
                <input type="text" name="legalForm">
                <label>capital</label>
                <input type="text" name="capital">
                <label>addressOfBusiness</label>
                <input type="text" name="addressOfBusiness">
                <label>governorate</label>
                <input type="text" name="governorate">
                <label>dateOfRecord</label>
                <input type="text" name="dateOfRecord">
                <label>commercialRegisterNumber</label>
                <input type="text" name="commercialRegisterNumber">
                <label>hisPlace</label>
                <input type="text" name="hisPlace">
                <label>taxRegisterationNumber</label>
                <input type="text" name="taxRegisterationNumber">
                <label>IdNumberOfOwner</label>
                <input type="text" name="IdNumberOfOwner">
                <label>telephoneNumber</label>
                <input type="text" name="telephoneNumber">
                <label>faxNumber</label>
                <input type="text" name="faxNumber">
                <label>itemsAreExported</label>
                <input type="text" name="itemsAreExported">
                <label>uploadCopy</label>
                <input type="text" name="uploadCopy">
            </fieldset>
            <fieldset>
                <legend name="registerationGeneralTaxOnSales">registerationGeneralTaxOnSales</legend>
                <label>businessName</label>
                <input type="text" name="businessName">
                <label>address</label>
                <input type="text" name="address">
                <label>registerationNumber</label>
                <input type="text" name="registerationNumber">
                <label>registerationDate</label>
                <input type="text" name="registerationDate">
                <label>uploadCopy</label>
                <input type="text" name="uploadCopy">
            </fieldset>
            <fieldset>
                <legend name="engagementBusinessLicense">engagementBusinessLicense</legend>
                <label>licenceNumber</label>
                <input type="text" name="licenceNumber">
                <label>companyName</label>
                <input type="text" name="companyName">
                <label>CommercialDenomination</label>
                <input type="text" name="CommercialDenomination">
                <label>legalForm</label>
                <input type="text" name="legalForm">
                <label>commercialRegisterNumber</label>
                <input type="text" name="commercialRegisterNumber">
                <label>issuedPlaceOfCommercialRegister</label>
                <input type="text" name="issuedPlaceOfCommercialRegister">
                <label>issuedDateOfCommercialRegister</label>
                <input type="text" name="issuedDateOfCommercialRegister">
                <label>activity</label>
                <input type="text" name="activity">
                <label>responsibleDirectorName</label>
                <input type="text" name="responsibleDirectorName">
                <label>address</label>
                <input type="text" name="address">
                <label>governorate</label>
                <input type="text" name="governorate">
                <label>issuedDateOfLicence</label>
                <input type="text" name="issuedDateOfLicence">
                <label>expirationDateOfLicence</label>
                <input type="text" name="expirationDateOfLicence">
                <label>uploadCopy</label>
                <input type="text" name="uploadCopy">
            </fieldset>
            <fieldset>
                <legend name="regiseterationCertifecateOfValueAddedTaxe">regiseterationCertifecateOfValueAddedTaxe</legend>
                <label>distrect</label>
                <input type="text" name="distrect">
                <label>office</label>
                <input type="text" name="office">
                <label>address</label>
                <input type="text" name="address">
                <label>issuedFrom</label>
                <input type="text" name="issuedFrom">
                <label>registerationNumber</label>
                <input type="text" name="registerationNumber">
                <label>registerationDate</label>
                <input type="text" name="registerationDate">
                <label>uploadCopy</label>
                <input type="text" name="uploadCopy">
            </fieldset>


            <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>

        </form>


        <%- include('../parts/footer.ejs')%>