<%- include('../parts/header.ejs')%>
    <%- include('../parts/navbar.ejs')%>
        <form action="/accounts/addOrganization" method="POST" enctype="multipart/form-data ">
            </*onsubmit="returen false" */>
            <h1></h1>
            <h1> Add New Organization</h1>
            <fieldset>
                <legend name="organizationInformation">organizationInformation</legend>
                <label>orgNameInArabic</label>
                <input type="text" name="orgNameInArabic">
                <label>orgNameInEnglish</label>
                <input type="text" name="orgNameInEnglish">
                <label>establishmentDate</label>
                <input type="text" name="establishmentDate">
                <label>organizationType</label>
                <input type="text" name="organizationType">
            </fieldset>
            <fieldset>
                <legend name="addressDetails">addressDetails</legend>
                <label>addressType</label>
                <input type="text" name="addressType">
                <label>country</label>
                <input type="text" name="country">
                <label>city</label>
                <input type="text" name="city">
                <label>streetName</label>
                <input type="text" name="streetName">
                <label>area</label>
                <input type="text" name="area">
                <label>realStateType</label>
                <input type="text" name="realStateType">
                <label>realStateNumber</label>
                <input type="text" name="realStateNumber">
                <label>detailedAddress</label>
                <input type="text" name="detailedAddress">
                <label>coordinates</label>
                <input type="text" name="coordinates">
            </fieldset>
            <fieldset>
                <legend name="contactInformation">contactInformation</legend>
                <label>countryCode</label>
                <input type="text" name="countryCode">
                <label>governorateCode</label>
                <input type="text" name="governorateCode">
                <label>landLine</label>
                <input type="text" name="landLine">
                <label>faxNumber</label>
                <input type="text" name="faxNumber">
                <label>email</label>
                <input type="text" name="email">
                <label>logoURL</label>
                <input type="text" name="logoURL">
                <label>website</label>
                <input type="text" name="website">
                <label>mobileNumber</label>
                <input type="text" name="mobileNumber">
                <label>contactLanguage</label>
                <input type="text" name="contactLanguage">
                <label>postOfficeCode</label>
                <input type="text" name="postOfficeCode">
                <label>bankAccount</label>
                <input type="text" name="bankAccount">
                <label>accountType</label>
                <input type="text" name="accountType">
                <label>accountNumber</label>
                <input type="text" name="accountNumber">
                <label>bankName</label>
                <input type="text" name="bankName">
                <label>currency</label>
                <input type="text" name="currency">
                <label>branch</label>
                <input type="text" name="branch">
            </fieldset>
            <fieldset>
                <legend name="activityOfBusiness">activityOfBusiness</legend>
                <label>category</label>
                <input type="text" name="category">
                <label>subCategory</label>
                <input type="text" name="subCategory">
            </fieldset>
            <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>

        </form>


        <%- include('../parts/footer.ejs')%>