<%- include('../parts/header.ejs')%>
<%- include('../parts/navbar.ejs')%>
<form action="/accounts/createInvoice"  method="POST" enctype="multipart/form-data " > </*onsubmit="returen false"*/>
<h1></h1>
    <h1>create invoice </h1>
    <fieldset name="">
    <h5 name="vendor">vendor</h5>
    <label>name</label>
    <input type="text" name="name">
    <label>address</label>
    <input type="text" name="address"><br>
    <label>confirmationDate</label>
    <input type="date" name="confirmationDate">
    <label>paymentTerms</label>
    <input type="text" name="paymentTerms"><br>
    <table id="myTable"> <h3>orderline</h3>
    <tr >
        <th style="width:6%">productName</th>
        <th style="width:6%">description</th>
        <th style="width:6%">orderedQty</th>
        <th style="width:6%">Delievered</th>
        <th style="width:6%">invoiced</th>
        <th style="width:6%">unitPRice</th>
        <th style="width:6%">unitCost</th>
        <th style="width:6%">taxes</th>
      
    </tr>
    
    <tr>

    <th>
    <select name="productName"> 
        <%for (let item of items){%>
            <option><%= item.itemInEnglish%></option>
        <%}%>
    </select></th>
    <th><input type="text" name="description"></th>
    <th><input type="number" name="orderedQty"></th>
    <th><input type="text" name="Delievered"></th>
    <th><input type="text" name="invoiced"></th>
    <th><input type="text" name="unitPrice"></th>
    <th><input type="text" name="unitCost"></th>
    <th><input type="text" name="taxes"></th>
    
    </tr> 

    
   </table>
    </fieldset>
<input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>

</form>

<button type="button" onclick="myFunction()">add</button>

<%- include('../parts/footer.ejs')%>