<%- include('../parts/header.ejs')%>
<%- include('../parts/navbar.ejs')%>
<form action="/accounts/payment"  method="POST" enctype="multipart/form-data " > </*onsubmit="returen false"*/>
    <fieldset >
        <legend>Add purchase </legend>
        <label >paymentMethod</label>
        <input type="text" name="paymentMethod">
        <label >name</label>
        <input type="text" name="name">
        <label >documentNumber</label>
        <!--<select name="documentNumber">
            <%for(let docNum of jE){%> 
                <%if (docNum.documentNumber !==0){%>
                <option ><%= docNum.documentNumber%></option>
                <%}%>
                <%}%>
        </select>-->
        <input type="text" name="documentNumber">
        <label >paid</label>
        <input type="text" name="paid">
        
        
    </fieldset>
        <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>
</form>
<%- include('../parts/footer.ejs')%>