body {
    background-image: url("https://compote.slate.com/images/5e48cf3d-0992-4eda-a080-e00e07738b2f.jpg");
    background-size: cover;
}

h1 {
    color: rgb(22, 31, 119);
    font-size: 40px;
    margin-left: 3%;
}

a {
    color: rgba(243, 241, 112, 0.877);
}

a:hover {
    color: rgb(196, 16, 28);
}

label {
    width: 150px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}

#submitDetails {
    color: gold;
    font-weight: bold;
    border: 0.5px solid;
    background-color: rgba(245, 245, 245, 0.336)
}

input {
    padding: 3px;
    width: 200px;
    margin-bottom: 10px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    height: 23px;
    font-size: 14px;
}

output {
    color: black;
    font-weight: bold;
}

legend {
    color: rgb(136, 31, 31);
    border: 2px solid;
    background-color: rgba(231, 215, 175, 0.678);
    font-weight: bold;
    width: auto;
    font-size: 13px;
}

fieldset {
    color: rgb(1, 24, 99);
    background-color: rgba(196, 180, 89, 0.568);
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 10px;
}

select,
option {
    width: 210px;
    height: 25px;
    border: none;
    border-radius: 4px;
    /*بتخلي الحواف مدورة*/
}

textarea {
    width: 600px;
    height: 35px;
}


/* 
fieldset {
    display: none
}

span {
    cursor: pointer
} */

.tabs {
    border: none;
    background-color: cornsilk;
}

.tabs:hover {
    cursor: pointer;
    color: blue;
}

#changetoarabic {
    color: rgb(236, 253, 0);
    font-weight: bold;
    font-size: 14px;
    width: auto;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    left: 95%;
    background-color: rgba(240, 255, 255, 0)
}

table {
    font-size: 15px;
    width: 100vh;
    background-color: rgba(185, 175, 119, 0.568);
    border: #333 solid 1px;
}

th {
    padding: 5px;
    text-align: left;
}

td {
    padding: 5px;
    text-align: left;
}