    
    <script href="/js/popper.min.js"></script>
    <script href="/js/jquery.min.js"></script>
    <script href="/js/bootstrap.min.js"></script>
    <script href="/js/app.js"></script>
    </body>
</html>