<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" style="color:gold; font-weight:bold">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clients">Clients</a>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/invoices/search">search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data-en">Add Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Add User</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/newItem">new Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/invoices/transactions">create transaction</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/addAcccard">addAcc card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/addCompany">add Co.</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/addOrganization">add Org.</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login">LogIn</a>
                    </li>
                    <li><a href="/logout" class="nav-link">Logout</a></li>
            </ul>

        </div>

</nav>